.accordion {
    width: 100%;
}

.accordion__wrapper {
    width: 100%;
    padding: 70px 0;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 50px 0;
    }
}

.accordion__acc {
    width: 100%;
    border-top: 2px solid $light-grey;
   
}

.accordion__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $light-grey;

    &--first{
        padding-bottom: 30px;
    }
}

.question {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: $dark-grey;
    background-color: $color-white;
    cursor: pointer;
    border: none;
    padding-top:30.5px ;
    padding-bottom:35.5px ;

    @include tablet {
    max-width: 100%;
    display: flex;
    text-align: left;
    padding: 30px 0;
    }

    @include mobile {
        padding-top: 21px;
        padding-bottom: 24px;
    padding-right: 60px;

    }

    &--one {
        @include tablet {
            padding-bottom: 48px;
        }

        @include mobile { 
            padding-bottom: 38px;
        }
       
    }

    &--second {
        @include tablet {
            padding-right:70px;
        }
    }

    &--three {
        @include tablet {
            padding-right: 70px;
        }
    }

    @include mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }
}

.question--active{
    background-color: $color-white;
}

.question::after {
    display: block;
    content: "+";
    position: absolute;
    right: 2%;
    color: $color-orange;
    font-weight: 400;
    font-size: 56px;
    line-height: 130%;
    transition: all $trans-animation-two;

    @include tablet {
     top: 17%;
     right: 3%;
        }
}

.question--active::after {
    content: "-";
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height $trans-animation-two;
}


.answer--active{
    max-height: 500px;
}

.answer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $dark-grey;

    @include margin-medium;

    @include mobile {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

}


.underline {
color: $color-orange;
font-weight: 800;
}