.section-slider-two {
    width: 100%;
    background-color: $light-grey;
}

.section-slider__wrapper-two {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    width: 100%;
    overflow: hidden;

    @include tablet {
        padding: 50px 0;
    }
}

.section-heading--two {

    @include tablet {
        margin-bottom: 30px;
    }
}

.slides-wrap-two {
display: flex;
width: 300%;
transition: all $trans-animation-two;

}

.slides-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    margin-right: 10px;
   

    @include tablet {
        width: 100%;
        justify-content: center;
        margin-right: 0;
    }
}

.slide {
    display: flex;
    flex-direction: column;
    max-width: 580px;

    @include tablet {
        max-width: 350px;
    }
    @include mobile {
        max-width: 100%;
    }
    &.slide--two {
        @include tablet {
            margin-left: 28px;
        }
    
        @include mobile {
            display: none;
        }
     }
    }

.slide__box {
    max-width: 100%;
   margin-bottom: 35px;  

   @include mobile {
    margin-right: 10px;
   }
}

.slide__img {
    width: 100%;
}

.slider__heading {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 3px;
    color: $color-orange;
    @include margin-small;
    text-transform: uppercase;  
    
    @include mobile {
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 15px;
    }
}

.slider__p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: $dark-grey;
    @include margin-small;

    @include tablet {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
    }

    @include mobile {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 15px;
    }
}

.date-time {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $dark-grey;

    @include mobile {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    }
}

.arrows-box-two {
    display: flex;
  
}

.previous-box-two { 
    max-width: 100%;
    margin-right: 10px;
    transition: all $trans-btns;

    @include mobile { 
        max-width: 18%;
    }
}

.previous-box-two--active{
    filter: drop-shadow( 0 1px 5px $color-orange);
    transform: translateY(-5px);
}

.previous-two {
    width: 100%;

}

.next-box-two {
    max-width: 100%;
    transition: all $trans-btns;

    @include mobile { 
        max-width: 18%;

    }
}

.next-box-two--active{
    filter: drop-shadow( 0 1px 5px $color-orange);
    transform: translateY(-5px);
}


.next-two {
    width: 100%;

}