$primary_font_family: 'Epilogue', sans-serif;

$color-black: #000000;
$color-white:#ffff;
$padding-link: #E5E5E5;
$dark-grey:#575756;
$color-orange:#F05A28;
$color-blue: #7CC9C2;
$color-transparent:#00000040;
$color-green:#318C8C;
$light-grey:#F1F1F1;


$trans-links: .3s ease;
$trans-btns : .6s ease;
$trans-animation-one: .3s ease-in;
$trans-animation-two: .8s ease-out;
